<h3>This is the aside</h3>
<p>You can put whatever you like in this section. In the meantime, here's some Lorem Ipsum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo, sapien eget vulputate auctor, sapien mauris lobortis libero, sed sollicitudin dui mi varius nulla.</p>
<p>Proin erat risus, volutpat sed egestas in, fringilla at sem. Duis vehicula lectus erat, ac feugiat enim tempor id. Donec porta mi vitae purus laoreet maximus.</p>