{% extends 'partials/_master.twig' %}

{% block main %}
    <h1>{{ record.title }}</h1>
    
    {{ fields(record=record, template='partials/_sub_fields.twig') }}

    {% include 'partials/_recordfooter.twig' with {'record': record, 'extended': true} %}
{% endblock main %}